
{% extends "./base.html" %}
{% load static %}

{% block content %}
  <!-- Content -->

  {% if teacher_profile %}
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <!-- Profile Cover -->
      <div class="profile-cover">
        <div class="profile-cover-img-wrapper">
          <img class="profile-cover-img" src="{% static 'core/assets/img/1920x400/img1.jpg' %}" alt="Image Description">
        </div>
      </div>
      <!-- End Profile Cover -->

      <!-- Profile Header -->
      <div class="text-center mb-5">
        <!-- Avatar -->
        <div class="avatar avatar-xxl avatar-circle profile-cover-avatar">
          <img class="avatar-img" src="{{ teacher_profile.avatar.url }}" alt="Profile Picture | Avatar">
          <span class="avatar-status avatar-status-success"></span>
        </div>
        <!-- End Avatar -->

        <h1 class="page-header-title">{{ teacher_profile.first_name }} {{ teacher_profile.last_name }}<i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i></h1>

        <!-- List -->
        <ul class="list-inline list-px-2">
          <li class="list-inline-item">
            <i class="bi-building me-1"></i>
            <span>{{ teacher_profile.unique_id }}</span>
          </li>

          <li class="list-inline-item">
            <i class="bi-geo-alt me-1"></i>
            <a href="#">{{ teacher_profile.school }}</a>
          </li>

          <li class="list-inline-item">
            <i class="bi-calendar-week me-1"></i>
            <span>{{ teacher_profile.updated_at }}</span>
          </li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Profile Header -->

      <!-- Nav -->
      <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
        <span class="hs-nav-scroller-arrow-prev" style="display: none;">
          <a class="hs-nav-scroller-arrow-link" href="javascript:;">
            <i class="bi-chevron-left"></i>
          </a>
        </span>

        <span class="hs-nav-scroller-arrow-next" style="display: none;">
          <a class="hs-nav-scroller-arrow-link" href="javascript:;">
            <i class="bi-chevron-right"></i>
          </a>
        </span>

        <ul class="nav nav-tabs align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'teacher_profile' teacher_profile.id %}">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'calendar' %}">Timetable</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " href="user-profile-projects.html">Projects <span class="badge bg-soft-dark text-dark rounded-circle ms-1">3</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="user-profile-connections.html">Connections</a>
          </li> -->

          <li class="nav-item ms-auto">
            <div class="d-flex gap-2">
              <!-- Form Check -->
              <div class="form-check form-check-switch">
                <input class="form-check-input" type="checkbox" value="" id="connectCheckbox">
                <label class="form-check-label btn-sm" for="connectCheckbox">
                  <span class="form-check-default">
                    <i class="bi-person-plus-fill"></i> Connect
                  </span>
                  <span class="form-check-active">
                    <i class="bi-check-lg me-2"></i> Connected
                  </span>
                </label>
              </div>
              <!-- End Form Check -->

              <a class="btn btn-icon btn-sm btn-white">
                <i class="bi-list-ul me-1"></i>
              </a>

              <!-- Dropdown -->
              <div class="dropdown nav-scroller-dropdown">
                <button type="button" class="btn btn-white btn-icon btn-sm" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="profileDropdown">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item">
                    <i class="bi-share-fill dropdown-item-icon"></i> Share profile
                  </a>
                  <a class="dropdown-item">
                    <i class="bi-slash-circle dropdown-item-icon"></i> Block page and profile
                  </a>
                  <a class="dropdown-item">
                    <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                  </a>

                  <div class="dropdown-divider"></div>

                  <span class="dropdown-header">Feedback</span>

                  <a class="dropdown-item">
                    <i class="bi-flag dropdown-item-icon"></i> Report
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->
            </div>
          </li>
        </ul>
      </div>
      <!-- End Nav -->

      <div class="row">
        <div class="col-lg-4">
          <!-- Card -->
          <div class="card card-body mb-3 mb-lg-5">
            <h5>Your attendance</h5>

            <!-- Progress -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="progress flex-grow-1">
                <div
                  class="progress-bar {% if attendance_percentage >= 80 %}bg-success{% else %}bg-primary{% endif %}"
                  role="progressbar"
                  style="width: {{ attendance_percentage }}%"
                  aria-valuenow="{{ attendance_percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <span class="ms-4">{{ attendance_percentage }}%</span>
            </div>
            <!-- End Progress -->
          </div>
          <!-- End Card -->

          <!-- Sticky Block Start Point -->
          <div id="accountSidebarNav"></div>

          <!-- Card -->
          <div class="js-sticky-block card mb-3 mb-lg-5" data-hs-sticky-block-options='{
                  "parentSelector": "#accountSidebarNav",
                  "breakpoint": "lg",
                  "startPoint": "#accountSidebarNav",
                  "endPoint": "#stickyBlockEndPoint",
                  "stickyOffsetTop": 20
                }'>
            <!-- Header -->
            <div class="card-header">
              <h4 class="card-header-title">Profile</h4>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <ul class="list-unstyled list-py-2 text-dark mb-0">
                <li class="pb-0"><span class="card-subtitle">About</span></li>
                <li><i class="bi-person dropdown-item-icon"></i>{{ teacher_profile.first_name }} {{ teacher_profile.last_name }}</li>
                <li><i class="bi-briefcase dropdown-item-icon"></i> No department</li>
                <li><i class="bi-building dropdown-item-icon"></i>{{ teacher_profile.unique_id }}</li>

                <li class="pt-4 pb-0"><span class="card-subtitle">Contacts</span></li>
                <li><i class="bi-at dropdown-item-icon"></i>{{ teacher_profile.email }}</li>
                <li><i class="bi-phone dropdown-item-icon"></i>{{ teacher_profile.phone }}</li>

                <li class="pt-4 pb-0"><span class="card-subtitle">Teams</span></li>
                <li><i class="bi-people dropdown-item-icon"></i> Teaching {{ teacher_profile.subject3.count }} Subjects</li>
                <li><i class="bi-stickies dropdown-item-icon"></i> Working at {{ teacher_profile.school }}</li>
              </ul>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>

        <div class="col-lg-8">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->
            <div class="card">
              <!-- Header -->
              <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Attendance Summary</h4>

                <!-- Dropdown -->
                <div class="dropdowm">
                  <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="projectReportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-three-dots-vertical"></i>
                  </button>

                  <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="projectReportDropdown">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-share-fill dropdown-item-icon"></i> Share connections
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Dropdown -->
              </div>
              <!-- End Header -->

              <!-- Table -->
              <div class="table-responsive">
                <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                  <thead class="thead-light">
                    <tr>
                      <th>Subjects</th>
                      <th style="width: 40%;">Attendance</th>
                      <th class="table-text-end">Hours spent</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for subject in teacher_profile.subject.all %}
                      <tr>
                        <td>
                          <div class="d-flex">
                            {% if subject.name == "English" %}
                            <img class="avatar avatar-xs" src="{% static 'core/assets/svg/brands/spec-icon.svg' %}" alt="English">
                            {% elif subject.name == "Mathematics" %}
                            <img class="avatar avatar-xs" src="{% static 'core/assets/svg/brands/capsule-icon.svg' %}" alt="Mathematics">
                            {% elif subject.name == "Science" %}
                            <img class="avatar avatar-xs" src="{% static 'core/assets/svg/brands/figma-icon.svg' %}" alt="Science">
                            {% elif subject.name == "Social Studies" %}
                            <img class="avatar avatar-xs" src="{% static 'core/assets/svg/brands/mailchimp-icon.svg' %}" alt="Social Studies">
                            {% elif subject.name == "Religious Education" %}
                            <span class="avatar avatar-xs avatar-soft-info avatar-circle">
                              <span class="avatar-initials">R</span>
                            </span>
                            {% else %}
                            <span class="avatar avatar-xs avatar-soft-info avatar-circle">
                              <span class="avatar-initials">C</span>
                            </span>
                            {% endif %}
                            <div class="ms-3">
                              {% if subject.name == "Social Studies" %}
                                <h5 class="mb-0">Social Studies (SST)</h5>
                              {% elif subject.name == "Religious Education" %}
                                <h5 class="mb-0">Religious Education and/or Islam</h5>
                              {% else %}
                                <h5 class="mb-0">{{ subject.name }}</h5>
                              {% endif %}
                              <small>Updated 1 day ago</small>
                            </div>
                          </div>
                        </td>
                        {% for d in data %}
                          {% if d.subject == subject.name %}
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="me-3">{{ d.percent }}%</span>
                                <div class="progress table-progress">
                                  <div
                                    class="progress-bar {% if d.percent >= 60 %}bg-success{% endif %}"
                                    role="progressbar"
                                    style="width: {{ d.percent }}%"
                                    aria-valuenow="{{ d.percent }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                                </div>
                              </div>
                            </td>
                            <td class="table-text-end">{{ d.hours_spent }}</td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- End Table -->

              <!-- Footer -->
              <a class="card-footer text-center" href="{% url 'teacher_profile' teacher_profile.id %}">
                View all subjects <i class="bi-chevron-right"></i>
              </a>
              <!-- End Footer -->
            </div>
            <!-- End Card -->

            <!-- End Row -->
          </div>

          <!-- Sticky Block End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
  {% endif %}
  <!-- End Content -->
{% endblock %}